<a href="https://colab.research.google.com/github/LiviaFanucchi/Introducao-ciencias-de-dados/blob/master/T1_Livia_Zanfelici_Fanucchi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lívia Zanfelici Fanucchi   
##RA: 20.84071-3

##**Página escolhida 4- Métodos de pagamentos**

#### Escolhi está página, pois era a página que era obrigatório ter no Power BI e comecei pelo Pandas ao Invés do BI, sendo assim mais fácil iniciar, usando algo imposto, do que criar do zero. Além do fato, de quando comecei o trabalho só haviamos tido apenas uma aula de BI, facilitando escolher um tema já imposto no trabalho.

##Importação de dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_clientes = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Ciencia de Dados/olist_customers_dataset.csv')
df_geo = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Ciencia de Dados/olist_geolocation_dataset.csv')
df_compra_itens = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Ciencia de Dados/olist_order_items_dataset.csv')
df_compra_pagamentos = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Ciencia de Dados/olist_order_payments_dataset.csv')
df_reviews = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Ciencia de Dados/olist_order_reviews_dataset.csv')
df_compras = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Ciencia de Dados/olist_orders_dataset.csv')
df_produtos = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Ciencia de Dados/olist_products_dataset.csv')
df_vendedores = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Ciencia de Dados/olist_sellers_dataset.csv')

#Análises 

1.  Quais são os principais tipos de pagamentos utilizados em cada cidade? Elencar as 5 principais cidades que utilizam cartão de crédito
2.  Quais produtos foram parcelados mais vezes?
3.  Quais estados gastam mais? Elenque os 5 estados mais gastão. 
4.  Qual o tipo de pagamento mais utilizado em cada categoria?

##Exploração das tabelas

In [3]:
df_compra_pagamentos.head()

                           order_id  ...  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17  ...          99.33
1  a9810da82917af2d9aefd1278f1dcfa0  ...          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...          65.71
3  ba78997921bbcdc1373bb41e913ab953  ...         107.78
4  42fdf880ba16b47b59251dd489d4441a  ...         128.45

[5 rows x 5 columns]

In [4]:
df_compra_itens.head()

                           order_id  order_item_id  ...   price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
3  00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14

[5 rows x 7 columns]

In [5]:
df_clientes.head()

                        customer_id  ... customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
1  18955e83d337fd6b2def6b18a428ac77  ...             SP
2  4e7b3e00288586ebd08712fdd0374a03  ...             SP
3  b2b6027bc5c5109e529d4dc6358b12c3  ...             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad  ...             SP

[5 rows x 5 columns]

In [6]:
df_compras.head()

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  ...           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  ...           2018-02-26 00:00:00

[5 rows x 8 columns]

In [7]:
df_produtos.head()

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0
3  cef67bcfe19066a932b7673e239eb23d  ...             26.0
4  9dc1a7de274444849c219cff195d0b71  ...             13.0

[5 rows x 9 columns]

##1) Quais são os principais tipos de pagamentos utilizados em cada cidade?

In [8]:
df_left = df_compra_pagamentos[['order_id', 'payment_type']]
df_left.head()

                           order_id payment_type
0  b81ef226f3fe1789b1e8b2acac839d17  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card
3  ba78997921bbcdc1373bb41e913ab953  credit_card
4  42fdf880ba16b47b59251dd489d4441a  credit_card

In [9]:
df_right = df_compras[['order_id', 'customer_id']]
df_right.head()

                           order_id                       customer_id
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

In [10]:
df_pagamento_cliente_id = pd.merge(df_left, df_right, how='left', on='order_id')
df_pagamento_cliente_id.head()

                           order_id  ...                       customer_id
0  b81ef226f3fe1789b1e8b2acac839d17  ...  0a8556ac6be836b46b3e89920d59291c
1  a9810da82917af2d9aefd1278f1dcfa0  ...  f2c7fc58a9de810828715166c672f10a
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...  25b14b69de0b6e184ae6fe2755e478f9
3  ba78997921bbcdc1373bb41e913ab953  ...  7a5d8efaaa1081f800628c30d2b0728f
4  42fdf880ba16b47b59251dd489d4441a  ...  15fd6fb8f8312dbb4674e4518d6fa3b3

[5 rows x 3 columns]

In [11]:
df_right2 = df_clientes[['customer_id','customer_city']]
df_right2.head()

                        customer_id          customer_city
0  06b8999e2fba1a1fbc88172c00ba8bc7                 franca
1  18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo
2  4e7b3e00288586ebd08712fdd0374a03              sao paulo
3  b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes
4  4f2d8ab171c80ec8364f7c12e35b23ad               campinas

In [12]:
df_pagamento_client_id_city = pd.merge(left = df_pagamento_cliente_id, right = df_right2, how='left',on='customer_id')
df_pagamento_client_id_city.head()

                           order_id  ...  customer_city
0  b81ef226f3fe1789b1e8b2acac839d17  ...  teofilo otoni
1  a9810da82917af2d9aefd1278f1dcfa0  ...      sao paulo
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...      sao paulo
3  ba78997921bbcdc1373bb41e913ab953  ...   juiz de fora
4  42fdf880ba16b47b59251dd489d4441a  ...        conchas

[5 rows x 4 columns]

In [13]:
x = df_pagamento_client_id_city.groupby(by='customer_city')
x.head()

                                order_id  ...         customer_city
0       b81ef226f3fe1789b1e8b2acac839d17  ...         teofilo otoni
1       a9810da82917af2d9aefd1278f1dcfa0  ...             sao paulo
2       25e8ea4e93396b6fa0d3dd708e76c1bd  ...             sao paulo
3       ba78997921bbcdc1373bb41e913ab953  ...          juiz de fora
4       42fdf880ba16b47b59251dd489d4441a  ...               conchas
...                                  ...  ...                   ...
103845  fbf5670723916ebf3bd62b1e33ed3ea6  ...  presidente juscelino
103849  9a87b7f9b871b4725233e41e08811caa  ...         guajara-mirim
103854  bd1d2815016a0d22c926101c1c99d140  ...                urandi
103862  807f4ef550f104708e2190eca7e4c37a  ...          barreirinhas
103875  60aed0a4eba0e424eb3cac85017fd752  ...            sitio novo

[13056 rows x 4 columns]

In [14]:
y = df_pagamento_client_id_city.payment_type.unique()
print(y)

['credit_card' 'boleto' 'voucher' 'debit_card' 'not_defined']

In [15]:
yy = df_pagamento_client_id_city.groupby(by='customer_city').count()['payment_type']
yy

customer_city
abadia dos dourados     3
abadiania               1
abaete                 12
abaetetuba             12
abaiara                 2
                       ..
xinguara                9
xique-xique             3
zacarias                2
ze doca                 5
zortea                  2
Name: payment_type, Length: 4119, dtype: int64

In [16]:
tt = df_pagamento_client_id_city.groupby(by='customer_city').count()
tt

                     order_id  payment_type  customer_id
customer_city
abadia dos dourados         3             3            3
abadiania                   1             1            1
abaete                     12            12           12
abaetetuba                 12            12           12
abaiara                     2             2            2
...                       ...           ...          ...
xinguara                    9             9            9
xique-xique                 3             3            3
zacarias                    2             2            2
ze doca                     5             5            5
zortea                      2             2            2

[4119 rows x 3 columns]

In [17]:
ww = df_pagamento_client_id_city.groupby(by='payment_type').count()
ww

              order_id  customer_id  customer_city
payment_type
boleto           19784        19784          19784
credit_card      76795        76795          76795
debit_card        1529         1529           1529
not_defined          3            3              3
voucher           5775         5775           5775

In [18]:
ww1 = df_pagamento_client_id_city.groupby(by = ['customer_city', 'payment_type']).count()
ww1

                                  order_id  customer_id
customer_city       payment_type
abadia dos dourados boleto               1            1
                    credit_card          2            2
abadiania           credit_card          1            1
abaete              boleto               4            4
                    credit_card          8            8
...                                    ...          ...
zacarias            credit_card          2            2
ze doca             boleto               1            1
                    credit_card          3            3
                    voucher              1            1
zortea              credit_card          2            2

[7499 rows x 2 columns]

In [19]:
ww2 = df_pagamento_client_id_city.groupby(by = ['customer_city', 'payment_type']).nunique()
ww2

                                  order_id  customer_id
customer_city       payment_type
abadia dos dourados boleto               1            1
                    credit_card          2            2
abadiania           credit_card          1            1
abaete              boleto               4            4
                    credit_card          8            8
...                                    ...          ...
zacarias            credit_card          2            2
ze doca             boleto               1            1
                    credit_card          3            3
                    voucher              1            1
zortea              credit_card          2            2

[7499 rows x 2 columns]

In [20]:
!pip install plotly==4.10.0

Requirement already satisfied: plotly==4.10.0 in /usr/local/lib/python3.6/dist-packages (4.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==4.10.0) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.10.0) (1.3.3)

In [21]:
df_plot = ww2.reset_index()
df_plot.head()

         customer_city payment_type  order_id  customer_id
0  abadia dos dourados       boleto         1            1
1  abadia dos dourados  credit_card         2            2
2            abadiania  credit_card         1            1
3               abaete       boleto         4            4
4               abaete  credit_card         8            8

In [22]:
import plotly.express as px
fig = px.bar(df_plot, x='customer_city', y="customer_id" ,color='payment_type', barmode='group', title="Customer_city X Payment_type")
fig.show()

In [23]:
df_top_metodos = df_pagamento_client_id_city.payment_type.value_counts().head(5)
df_top_metodos

credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: payment_type, dtype: int64

Conclui que cartão de credito é o método de pagamento mais utilizado nas cidades, seguido por boleto e voucher

###Elencando as 5 cidades que mais usam cartões de crédito

In [24]:
df_plott = ww2.sort_values('order_id',ascending=False)
df_plott

                                  order_id  customer_id
customer_city       payment_type
sao paulo           credit_card      12190        12190
rio de janeiro      credit_card       5512         5512
sao paulo           boleto            2783         2783
belo horizonte      credit_card       2227         2227
brasilia            credit_card       1688         1688
...                                    ...          ...
fonseca             credit_card          1            1
florinia            credit_card          1            1
piracuruca          boleto               1            1
                    credit_card          1            1
abadia dos dourados boleto               1            1

[7499 rows x 2 columns]

In [25]:
df_plottt = df_plot.groupby(by=['payment_type', 'customer_city']).max('order_id')
df_plottt

                                   order_id  customer_id
payment_type customer_city
boleto       abadia dos dourados          1            1
             abaete                       4            4
             abre campo                   2            2
             abreu e lima                 3            3
             acailandia                   1            1
...                                     ...          ...
voucher      vitoria da conquista         4            4
             volta redonda                8            8
             votorantim                   8            8
             xanxere                      2            2
             ze doca                      1            1

[7499 rows x 2 columns]

In [26]:
df_plots = df_plottt.sort_values('payment_type')
df_plots

                                   order_id  customer_id
payment_type customer_city
boleto       abadia dos dourados          1            1
             picarra                      1            1
             picos                        2            2
             piedade                     10           10
             piedade de caratinga         1            1
...                                     ...          ...
voucher      gravatai                     7            7
             guadalupe                    1            1
             guaicara                     1            1
             general camara               1            1
             ze doca                      1            1

[7499 rows x 2 columns]

In [27]:
df_top5_city = df_plots.sort_values('customer_id', ascending=False)
df_top5_city

                               order_id  customer_id
payment_type customer_city
credit_card  sao paulo            12190        12190
             rio de janeiro        5512         5512
boleto       sao paulo             2783         2783
credit_card  belo horizonte        2227         2227
             brasilia              1688         1688
...                                 ...          ...
             moema                    1            1
             mojui dos campos         1            1
             mombaca                  1            1
             mondai                   1            1
voucher      ze doca                  1            1

[7499 rows x 2 columns]

In [28]:
df_plot_top5_city = df_top5_city.reset_index()
df_plot_top5_city.head()

  payment_type   customer_city  order_id  customer_id
0  credit_card       sao paulo     12190        12190
1  credit_card  rio de janeiro      5512         5512
2       boleto       sao paulo      2783         2783
3  credit_card  belo horizonte      2227         2227
4  credit_card        brasilia      1688         1688

In [29]:
df_city_credit = df_plot_top5_city[df_plot_top5_city['payment_type'].str.contains("credit_card")]
df_city_credit.head()

  payment_type   customer_city  order_id  customer_id
0  credit_card       sao paulo     12190        12190
1  credit_card  rio de janeiro      5512         5512
3  credit_card  belo horizonte      2227         2227
4  credit_card        brasilia      1688         1688
5  credit_card        curitiba      1134         1134

In [30]:
graf_top5_cities = px.bar(df_city_credit.head(), x='customer_city', y="customer_id" ,color='payment_type', barmode='group', title="Quantidade de Vendas com Cartão de Crédito X Cidade")
graf_top5_cities.show()

## 2) Quais produtos foram parcelados mais vezes?

In [31]:
df_left2 = df_compra_pagamentos[['order_id', 'payment_installments']]
df_left2.head()

                           order_id  payment_installments
0  b81ef226f3fe1789b1e8b2acac839d17                     8
1  a9810da82917af2d9aefd1278f1dcfa0                     1
2  25e8ea4e93396b6fa0d3dd708e76c1bd                     1
3  ba78997921bbcdc1373bb41e913ab953                     8
4  42fdf880ba16b47b59251dd489d4441a                     2

In [32]:
df_right3 = df_compra_itens[['order_id', 'product_id']]
df_right3.head()

                           order_id                        product_id
0  00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61
1  00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f
2  000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd
3  00024acbcdf0a6daa1e931b038114c75  7634da152a4610f1595efa32f14722fc
4  00042b26cf59d7ce69dfabb4e55b4fd9  ac6c3623068f30de03045865e4e10089

In [33]:
df_pagamento_compra_id = pd.merge(df_left2, df_right3, how='left', on='order_id')
df_pagamento_compra_id.head()

                           order_id  ...                        product_id
0  b81ef226f3fe1789b1e8b2acac839d17  ...  af74cc53dcffc8384b29e7abfa41902b
1  a9810da82917af2d9aefd1278f1dcfa0  ...  a630cc320a8c872f9de830cf121661a3
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...  2028bf1b01cafb2d2b1901fca4083222
3  ba78997921bbcdc1373bb41e913ab953  ...  548e5bfe28edceab6b51fa707cc9556f
4  42fdf880ba16b47b59251dd489d4441a  ...  386486367c1f9d4f587a8864ccb6902b

[5 rows x 3 columns]

In [34]:
df_right4 = df_produtos[['product_id', 'product_category_name']]
df_right4.head()

                         product_id  product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

In [35]:
df_pagamento_type_categoria_name = pd.merge(df_pagamento_compra_id, df_right4, how='left', on='product_id')
df_pagamento_type_categoria_name.head()

                           order_id  ...  product_category_name
0  b81ef226f3fe1789b1e8b2acac839d17  ...        casa_construcao
1  a9810da82917af2d9aefd1278f1dcfa0  ...             automotivo
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...             perfumaria
3  ba78997921bbcdc1373bb41e913ab953  ...        cama_mesa_banho
4  42fdf880ba16b47b59251dd489d4441a  ...        cama_mesa_banho

[5 rows x 4 columns]

In [36]:
categoriaas = df_pagamento_type_categoria_name.product_category_name.unique()
categoriaas

array(['casa_construcao', 'automotivo', 'perfumaria', 'cama_mesa_banho',
       'utilidades_domesticas', 'artes', 'esporte_lazer', 'moveis_sala',
       'ferramentas_jardim', 'eletronicos', 'sinalizacao_e_seguranca',
       'cool_stuff', 'relogios_presentes', 'bebes', 'moveis_decoracao',
       'construcao_ferramentas_iluminacao', 'pet_shop', 'beleza_saude',
       'moveis_escritorio', 'consoles_games', 'eletrodomesticos',
       'telefonia', 'brinquedos', 'papelaria', 'livros_interesse_geral',
       'informatica_acessorios', 'eletroportateis', nan,
       'fashion_bolsas_e_acessorios', 'construcao_ferramentas_jardim',
       'instrumentos_musicais', 'artigos_de_natal', 'malas_acessorios',
       'construcao_ferramentas_construcao',
       'construcao_ferramentas_ferramentas', 'market_place',
       'alimentos_bebidas', 'casa_conforto', 'telefonia_fixa', 'audio',
       'climatizacao', 'eletrodomesticos_2', 'fashion_esporte',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'construcao_ferramentas_seguranca', 'alimentos',
       'industria_comercio_e_negocios', 'pcs', 'bebidas',
       'fashion_calcados', 'livros_importados',
       'agro_industria_e_comercio', 'livros_tecnicos', 'musica',
       'fashion_roupa_masculina', 'fraldas_higiene', 'pc_gamer',
       'fashion_underwear_e_moda_praia', 'fashion_roupa_feminina',
       'moveis_colchao_e_estofado', 'dvds_blu_ray',
       'portateis_cozinha_e_preparadores_de_alimentos',
       'tablets_impressao_imagem', 'flores',
       'portateis_casa_forno_e_cafe', 'cine_foto', 'artes_e_artesanato',
       'artigos_de_festas', 'moveis_quarto', 'casa_conforto_2',
       'la_cuisine', 'seguros_e_servicos', 'cds_dvds_musicais',
       'fashion_roupa_infanto_juvenil'], dtype=object)

In [37]:
contagem_categorias = df_pagamento_type_categoria_name.groupby(by='product_category_name').max('payment_installments')
contagem_categorias

                           payment_installments
product_category_name
agro_industria_e_comercio                    10
alimentos                                    12
alimentos_bebidas                            10
artes                                        10
artes_e_artesanato                            7
...                                         ...
sinalizacao_e_seguranca                      10
tablets_impressao_imagem                     10
telefonia                                    24
telefonia_fixa                               10
utilidades_domesticas                        20

[73 rows x 1 columns]

In [38]:
contagem_categorias_ordenadas = contagem_categorias.sort_values('payment_installments',ascending=False)
contagem_categorias_ordenadas

                               payment_installments
product_category_name
eletrodomesticos                                 24
telefonia                                        24
informatica_acessorios                           24
cool_stuff                                       24
relogios_presentes                               24
...                                             ...
casa_conforto_2                                   7
artes_e_artesanato                                7
fashion_esporte                                   6
fashion_roupa_infanto_juvenil                     6
seguros_e_servicos                                1

[73 rows x 1 columns]

In [39]:
df_plot2 = contagem_categorias_ordenadas.reset_index()
df_plot2.head()

    product_category_name  payment_installments
0        eletrodomesticos                    24
1               telefonia                    24
2  informatica_acessorios                    24
3              cool_stuff                    24
4      relogios_presentes                    24

In [40]:
fig2 = px.bar(df_plot2, x='product_category_name', y="payment_installments", title="Categorias X Máximo Valor de Parcelas")
fig2.show()

As 5 categorias mais parceladas são eletrodomesticos, telefonia, informática_acessórios,cool_stuff e relógios_presentes com o valor máximo de parcelas = 24

##3) Quais estados gastam mais? Elenque os 5 estados mais gastão.

In [41]:
df_left3 = df_compra_pagamentos[['order_id', 'payment_value']]
df_left3.head()

                           order_id  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17          99.33
1  a9810da82917af2d9aefd1278f1dcfa0          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd          65.71
3  ba78997921bbcdc1373bb41e913ab953         107.78
4  42fdf880ba16b47b59251dd489d4441a         128.45

In [42]:
df_right5 = df_compras[['order_id', 'customer_id']]
df_right5.head()

                           order_id                       customer_id
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

In [43]:
df_pagamento_compra = pd.merge(df_left3, df_right5, how='left', on='order_id')
df_pagamento_compra.head()

                           order_id  ...                       customer_id
0  b81ef226f3fe1789b1e8b2acac839d17  ...  0a8556ac6be836b46b3e89920d59291c
1  a9810da82917af2d9aefd1278f1dcfa0  ...  f2c7fc58a9de810828715166c672f10a
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...  25b14b69de0b6e184ae6fe2755e478f9
3  ba78997921bbcdc1373bb41e913ab953  ...  7a5d8efaaa1081f800628c30d2b0728f
4  42fdf880ba16b47b59251dd489d4441a  ...  15fd6fb8f8312dbb4674e4518d6fa3b3

[5 rows x 3 columns]

In [44]:
df_right6 = df_clientes[['customer_id', 'customer_state']]
df_right6.head()

                        customer_id customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7             SP
1  18955e83d337fd6b2def6b18a428ac77             SP
2  4e7b3e00288586ebd08712fdd0374a03             SP
3  b2b6027bc5c5109e529d4dc6358b12c3             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad             SP

In [45]:
df_pagamento_estado = pd.merge(df_pagamento_compra, df_right6, how='left', on='customer_id')
df_pagamento_estado.head()

                           order_id  ...  customer_state
0  b81ef226f3fe1789b1e8b2acac839d17  ...              MG
1  a9810da82917af2d9aefd1278f1dcfa0  ...              SP
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...              SP
3  ba78997921bbcdc1373bb41e913ab953  ...              MG
4  42fdf880ba16b47b59251dd489d4441a  ...              SP

[5 rows x 4 columns]

In [46]:
valores_pagamentos = df_pagamento_estado.groupby(by='customer_state').sum('payment_value').sort_values('payment_value',ascending=False)
valores_pagamentos

                payment_value
customer_state
SP                 5998226.96
RJ                 2144379.69
MG                 1872257.26
RS                  890898.54
PR                  811156.38
SC                  623086.43
BA                  616645.82
DF                  355141.08
GO                  350092.31
ES                  325967.55
PE                  324850.44
CE                  279464.03
PA                  218295.85
MT                  187029.29
MA                  152523.02
PB                  141545.72
MS                  137534.84
PI                  108523.97
RN                  102718.13
AL                   96962.06
SE                   75246.25
TO                   61485.33
RO                   60866.20
AM                   27966.93
AC                   19680.62
AP                   16262.80
RR                   10064.62

###Top 5 estados que mais gastam

In [47]:
valores_pagamentos_ordenadas_top5 = valores_pagamentos.head(5)
valores_pagamentos_ordenadas_top5

                payment_value
customer_state
SP                 5998226.96
RJ                 2144379.69
MG                 1872257.26
RS                  890898.54
PR                  811156.38

In [48]:
df_plot3 = valores_pagamentos_ordenadas_top5.reset_index()
df_plot3.head()

  customer_state  payment_value
0             SP     5998226.96
1             RJ     2144379.69
2             MG     1872257.26
3             RS      890898.54
4             PR      811156.38

In [49]:
fig3 = px.bar(df_plot3, x='customer_state', y="payment_value", title="Estados X Valor Pago em Compras")
fig3.show()

##4) Qual o tipo de pagamento mais utilizado em cada categoria?

In [50]:
df_left4 = df_compra_pagamentos[['order_id', 'payment_type']]
df_left4.head()

                           order_id payment_type
0  b81ef226f3fe1789b1e8b2acac839d17  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card
3  ba78997921bbcdc1373bb41e913ab953  credit_card
4  42fdf880ba16b47b59251dd489d4441a  credit_card

In [51]:
df_right7 = df_compra_itens[['order_id', 'product_id']]
df_right7.head()

                           order_id                        product_id
0  00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61
1  00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f
2  000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd
3  00024acbcdf0a6daa1e931b038114c75  7634da152a4610f1595efa32f14722fc
4  00042b26cf59d7ce69dfabb4e55b4fd9  ac6c3623068f30de03045865e4e10089

In [52]:
df_pagamento_categ = pd.merge(df_left4, df_right7, how='left', on='order_id')
df_pagamento_categ.head()

                           order_id  ...                        product_id
0  b81ef226f3fe1789b1e8b2acac839d17  ...  af74cc53dcffc8384b29e7abfa41902b
1  a9810da82917af2d9aefd1278f1dcfa0  ...  a630cc320a8c872f9de830cf121661a3
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...  2028bf1b01cafb2d2b1901fca4083222
3  ba78997921bbcdc1373bb41e913ab953  ...  548e5bfe28edceab6b51fa707cc9556f
4  42fdf880ba16b47b59251dd489d4441a  ...  386486367c1f9d4f587a8864ccb6902b

[5 rows x 3 columns]

In [53]:
df_right8 = df_produtos[['product_id', 'product_category_name']]
df_right8.head()

                         product_id  product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

In [54]:
df_pagamento_categorias = pd.merge(df_pagamento_categ, df_right8, how='left', on='product_id')
df_pagamento_categorias.head()

                           order_id  ... product_category_name
0  b81ef226f3fe1789b1e8b2acac839d17  ...       casa_construcao
1  a9810da82917af2d9aefd1278f1dcfa0  ...            automotivo
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...            perfumaria
3  ba78997921bbcdc1373bb41e913ab953  ...       cama_mesa_banho
4  42fdf880ba16b47b59251dd489d4441a  ...       cama_mesa_banho

[5 rows x 4 columns]

In [55]:
pagamentos_categorias_groupby = df_pagamento_categorias.groupby(by=['product_category_name','payment_type']).nunique()
pagamentos_categorias_groupby

                                        order_id  product_id
product_category_name     payment_type
agro_industria_e_comercio boleto              51          22
                          credit_card        125          59
                          debit_card           4           4
                          voucher              6           6
alimentos                 boleto              99          28
...                                          ...         ...
telefonia_fixa            voucher              9           9
utilidades_domesticas     boleto            1044         668
                          credit_card       4613        2005
                          debit_card         102          98
                          voucher            286         262

[270 rows x 2 columns]

In [56]:
df_plot4 = pagamentos_categorias_groupby.reset_index()
df_plot4.head()

       product_category_name payment_type  order_id  product_id
0  agro_industria_e_comercio       boleto        51          22
1  agro_industria_e_comercio  credit_card       125          59
2  agro_industria_e_comercio   debit_card         4           4
3  agro_industria_e_comercio      voucher         6           6
4                  alimentos       boleto        99          28

In [57]:
import plotly.express as px
fig4 = px.bar(df_plot4, x='product_category_name', y="order_id" ,color='payment_type', barmode='group', title="Tipos de Pagamento X Categoria de Produto")
fig4.show()

##Conlcusão POWER BI X PANDAS

Após as analises feitas no Microsofrt Power BI e Pandas, foi possivel concluir que as mesmas feitas no Power BI são mais rápidas de se obter, uma vez que o aplicativo reconhece e estabelece as ligações entre as tabelas. Sendo assim, é mais fácil a manipulação com os dados feitos pelo Power BI. Já no Pandas as analises que podem ser feitas são mais profundas. No entanto, necessitam de um conhecimento mais elevado de programação para serem realizadas quando comparadas com o Power BI.